@import "layout";

$orange-light: #FD9E84;
$orange-dark: #FC6C43;
$blue-light: #9AACC1;
$blue-dark: #294461;
$gray-light: #f9f9f9;

$font-normal: 1em;
$font-large: 1.3em;
$font-small: 0.9em;

$padWidth: 992px;
$phoneWidth: 415px;

@mixin tablet {
    @media screen and (max-width: $padWidth) {
        @content;
    }
}
@mixin phone {
    @media screen and (max-width: $phoneWidth) {
        @content;
    }
}

body {
    min-height: 100vh;
    background: url(../img/circle.png) 140% 300% no-repeat, linear-gradient(135deg, $orange-light 0%, $orange-dark 100%);
    background-attachment:fixed
}

.container {
    display: flex;
    width: 100%;
    @include phone {
        padding: 0;
    }
    .main-content {
        margin: 50px auto;
        padding: 30px 25px;
        align-items: center;
        background-color: $gray-light;
        width: 55%;
        border-radius: 10px;
        box-shadow: 0 2px 19px #EE6139;
        @include tablet {
            width: 80%;
        }
        @include phone {
            width: 100%;
            margin: 0 auto;
            border-radius: 0;
            min-height: 100vh;
        }
        header {
            h4 {
                color: $orange-dark;
                display: inline-block;
                font-size: $font-large;
                font-weight: bold;
                padding: 15px;
                @include phone {
                    padding-right: 0;
                }
            }
            .menu {
                display: inline-block;
                float: right;
                padding: 15px;
                font-size: $font-small;
                button {
                    margin: 0 10px;
                    color: $blue-light;
                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover {
                        color: darken($blue-light, 10%);
                        transition: all .2s ease-in-out;
                        cursor: pointer;
                    }
                    &:focus {
                        outline: 0;
                    }
                    @include phone {
                        margin: 0 3px;
                    }
                }
                button.active {
                    color: $blue-dark;
                    border-bottom: 1.5px solid $blue-dark;
                }
            }
        }
        .todo-content {
            .list {
                margin: 20px 15px;
                padding: 25px;
                border-radius: 5px;
                background-color: #fff;
                @include phone {
                    padding: 20px;
                }
            }
            .border-orange {
                border: 1px solid $orange-dark;
            }
            .border-gray {
                border: 1px solid $blue-light;
            }
            .add-list {
                input {
                    width: 100%;
                    border: none;
                    &::placeholder {
                        color: $blue-light;
                    }
                }
            }
            .todo-list {
                box-shadow: 0 2px 5px #E8E8E8;
                display: none;
                button {
                    width: 100%;
                    padding: 0;
                    color: $blue-dark;
                    span.done {
                        text-decoration:line-through;
                    }
                    i {
                        color: $blue-light;
                    }
                    .far:hover {
                            color: darken($blue-light, 10%);
                            transition: all .2s ease-in-out;
                        }
                    .fas { 
                        color: $orange-dark; 
                        &:hover {
                            color: darken($orange-dark, 5%);
                        }
                    }
                    .list-content {
                        width: 50%;
                        position: relative;
                    }
                    .list-text {
                        float: left;
                        text-align: left;
                    }
                    .list-icon {
                        float: left;
                        text-align: right;
                        i {
                            padding-left: 5px;
                        }
                    }
                    .notes {
                        float: left;
                        text-align: left;
                        text-indent: 11.5px;
                        font-size: $font-small;
                        padding-top: 10px;
                        color: $blue-light;
                    }
                }
                .card {
                    border-top: 1px solid $blue-light;
                    margin-top: 20px;
                    font-size: $font-small;
                    text-indent: 11.5px;
                    padding-top: 20px;
                    color: $blue-light;
                    p {
                        padding: 10px 0;
                    }
                    .deadline {
                        width: 60%;
                        margin-left: 40px;
                        border: none;
                        background-color: $gray-light;
                        border-radius: none;
                        margin-bottom: 10px;
                        color: $blue-light;
                        font-size: $font-small;
                    }
                    .add {
                        width: 40px;
                        margin-left: 40px;
                        margin-bottom: 10px;
                        padding: 12px 0;
                        text-align: center;
                        text-indent: -1px;
                        background-color: $gray-light;
                        color: $blue-light;
                        &:hover {
                            background-color: darken($gray-light, 3%);
                            color: darken($blue-light, 10%);
                            transition: all .3s ease-in-out;
                            cursor: pointer;
                        }
                    }
                    textarea {
                        width: 80%;
                        margin-left: 40px;
                        border: none;
                        border-radius: 0;
                        background-color: $gray-light;
                    }
                    .save {
                        text-align: center;
                        background-color: $orange-dark;
                        color: #fff;
                        padding: 10px;
                        margin: 20px auto 5px auto;
                        width: 50%;
                        border-radius: 20px;
                        &:hover {
                            background-color: darken($orange-dark, 5%);
                            transition: all .3s ease-in-out;
                            cursor: pointer;
                        }
                    }
                }
            }
            .show {
                display: block;
            }
        }
    }
}