html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  text-align: inherit;
  outline: none; }

body {
  min-height: 100vh;
  background: -webkit-linear-gradient(358deg, #F9F9F9 21%, #F3F3F3 60%);
  background: -o-linear-gradient(358deg, #F9F9F9 21%, #F3F3F3 60%);
  background: linear-gradient(92deg, #F9F9F9 21%, #F3F3F3 60%); }

.header-content {
  background-color: #fff;
  margin-top: 1em;
  padding: 1em; }
  .header-content h2 {
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: bold;
    font-size: 2.25rem;
    padding-top: 2px; }
  .header-content .search {
    top: 0;
    position: relative;
    outline: none;
    padding: 10px;
    font-size: 13px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #B3C3CF;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    float: right; }
    .header-content .search::-webkit-input-placeholder {
      color: #B3C3CF;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .header-content .search:-ms-input-placeholder {
      color: #B3C3CF;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .header-content .search::-ms-input-placeholder {
      color: #B3C3CF;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .header-content .search::placeholder {
      color: #B3C3CF;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .header-content .search:focus, .header-content .search:hover {
      border: 1px solid #94aabb; }
    .header-content .search:focus::-webkit-input-placeholder {
      color: #fff; }
    .header-content .search:focus:-ms-input-placeholder {
      color: #fff; }
    .header-content .search:focus::-ms-input-placeholder {
      color: #fff; }
    .header-content .search:focus::placeholder {
      color: #fff; }

.search-result {
  padding: 1em;
  margin: 0.5em 1em; }
  .search-result p {
    color: #B3C3CF;
    font-size: 0.9em;
    display: inline-block; }
    .search-result p span {
      color: #F46567;
      font-size: 1.3em;
      font-weight: bold; }
  .search-result a {
    color: #B3C3CF;
    border: 1px solid #B3C3CF;
    padding: 5px 15px;
    border-radius: 20px;
    margin-left: 5px; }
    @media screen and (max-width: 767px) {
      .search-result a {
        display: none; } }
    .search-result a:hover {
      text-decoration: none;
      color: #94aabb;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }

.filter-content {
  margin-bottom: 2em;
  background-color: #fff;
  padding: 2em;
  position: relative;
  width: 100%; }
  .filter-content h4 {
    color: #B3C3CF; }
  .filter-content .select-area {
    display: block;
    color: #fff;
    position: relative;
    padding-bottom: 0.5em; }
    .filter-content .select-area select {
      display: block;
      width: 100%;
      height: 100%;
      margin-top: 1em;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: none;
      border: 1px solid #B3C3CF;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 1em;
      line-height: inherit;
      color: #B3C3CF;
      cursor: default;
      font-size: 14px;
      position: relative;
      z-index: 3;
      background-color: #fff; }
      .filter-content .select-area select:hover {
        color: #94aabb;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
  .filter-content hr {
    height: 1px;
    border: none;
    border-top: 1px solid #F5F5F5; }
  .filter-content .check-content, .filter-content .choose-content {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 1em;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #B3C3CF; }
  .filter-content .check-box {
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    .filter-content .check-box .check-content:hover input ~ .checkmark {
      background-color: #f2f4f6;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .filter-content .check-box .check-content input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
      .filter-content .check-box .check-content input:checked ~ .checkmark {
        background-color: #B3C3CF;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .filter-content .check-box .check-content input:checked ~ .checkmark:after {
        display: block; }
    .filter-content .check-box .check-content .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border: 1px solid #B3C3CF;
      margin-top: -3px; }
      .filter-content .check-box .check-content .checkmark:after {
        content: "";
        position: absolute;
        display: none; }
    .filter-content .check-box .check-content .checkmark:after {
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .filter-content .choose-box {
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    .filter-content .choose-box .choose-content:hover input ~ .radiobtn {
      background-color: #f2f4f6;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .filter-content .choose-box .choose-content input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
      .filter-content .choose-box .choose-content input:checked ~ .radiobtn {
        background-color: #B3C3CF;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .filter-content .choose-box .choose-content input:checked ~ .radiobtn:after {
        display: block; }
    .filter-content .choose-box .choose-content .radiobtn {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border: 1px solid #B3C3CF;
      margin-top: -1px;
      border-radius: 50%; }
      .filter-content .choose-box .choose-content .radiobtn:after {
        content: "";
        position: absolute;
        display: none; }
    .filter-content .choose-box .choose-content .radiobtn:after {
      top: 5px;
      left: 5px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white; }
  .filter-content h3 {
    position: absolute;
    bottom: 0;
    left: 38%;
    width: 100%;
    margin: auto;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 1em; }
    @media screen and (max-width: 767px) {
      .filter-content h3 {
        display: none; } }

.filter-card {
  margin-bottom: 2em; }
  .filter-card .col-md-4 {
    padding-right: 0;
    padding-left: 15px;
    padding-bottom: 15px; }
    @media screen and (max-width: 767px) {
      .filter-card .col-md-4 {
        padding-right: 0;
        padding-left: 0; } }
  .filter-card a:hover {
    text-decoration: none; }
  .filter-card a .card {
    height: 100%;
    position: relative; }
    .filter-card a .card h5 {
      color: #2F3441;
      font-size: 1.3em;
      font-weight: bold;
      font-family: "Ubuntu Condensed", sans-serif;
      margin-bottom: 0.75rem; }
    .filter-card a .card p {
      color: #2F3441;
      line-height: 1.3;
      font-size: 0.9em;
      padding-bottom: 1.5em; }
    .filter-card a .card p.location {
      float: left;
      display: inline-block;
      padding: 1em 0;
      color: #B3C3CF;
      font-weight: 300;
      position: absolute;
      bottom: 0; }
    .filter-card a .card p.price {
      float: right;
      display: inline-block;
      padding: 1em 20px 1em 0;
      color: #B3C3CF;
      font-weight: 300;
      bottom: 0;
      position: absolute;
      right: 0; }
  .filter-card .page {
    text-align: center; }
    .filter-card .page li {
      display: inline-block; }
      .filter-card .page li a {
        display: block;
        color: #B3C3CF;
        padding: 10px 15px;
        background-color: #fff;
        margin: 10px -1.5px;
        font-family: "Ubuntu Condensed", sans-serif;
        font-weight: bold; }
        .filter-card .page li a:hover {
          background-color: #f8f9fa;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          color: #94aabb; }
      .filter-card .page li a.actived {
        background-color: #B3C3CF;
        color: #fff; }
        .filter-card .page li a.actived:hover {
          background-color: #94aabb;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
      .filter-card .page li a.page-icon {
        background: none; }
        .filter-card .page li a.page-icon:hover {
          color: #94aabb;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
