<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Birte - No.5 Comic Viewer
        link(href="scss/comic-viewer.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Hind+Siliguri", rel="stylesheet")
    body
        header
            h2 Let's Comic
        .content 
            .comic-section
                img(src="img/comic-cover.png", alt="")
                .text-area 
                    h3 MY HEXSCHOOL
                    hr
                    .detail
                        ul.list
                            li Genres
                            li Author
                            li Status
                            li Rate
                        ul.list-content
                            li Fusce / vehicula / dolor
                            li Namae Shiranai
                            li Ongoing
                            li ★ ★ ★ ★ ★
                        .about 
                            .title Summary
                            p If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die. 
                            p Therefore, I say, I saw that this situation of mine was the precise situation of every mortal that has this Siamese connexion with a plurality of other mortals. 
                        a(href="#") READ NOW !
            .chapter-section
                .title
                    h4.title1 Chapters
                    h4.title2 Date
                    hr 
                .chapter
                    a(href="#")
                        p.chapter-name Chapter 1: The F2E Challenge Start!
                        p.date 2018.06.04
                    hr
                    a(href="#")
                        p.chapter-name Chapter 2: Todo List is Going Crazy!
                        p.date 
                            span NEW !
                            | 2018.07.01
                    hr
                

                            

    