@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  vertical-align: top;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#250060), to(#35006a));
  background: linear-gradient(270deg, #250060, #35006a);
}

.container {
  width: 100%;
  font-size: 0;
  padding: 20px 50px;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 20px;
  }
}

.container .col-4 {
  width: 33.33%;
  display: inline-block;
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .container .col-4 {
    width: 100%;
  }
}

.container .col-4.left-section {
  padding: 20px 40px;
}

.container .col-4.left-section h3 {
  color: #ff0093;
  font-size: 3em;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 2px;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .container .col-4.left-section h3 {
    font-size: 2.5em;
  }
}

.container .col-4.left-section span {
  display: inline-block;
  color: #250060;
  background-color: #8000ff;
  padding: 5px 20px;
  font-size: 1em;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .container .col-4.left-section span {
    font-size: 1em;
  }
}

.container .col-4.left-section h4 {
  color: #fff;
  font-size: 2em;
  margin: 5px;
  border-bottom: 5px solid #8000ff;
  display: inline-block;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .container .col-4.left-section h4 {
    font-size: 2em;
  }
}

.container .col-4.left-section img {
  margin: 40px 0;
  width: 100%;
}

.container .col-4.left-section p {
  color: #fff;
  border: 1px solid #ff0093;
  padding: 30px 20px;
  font-size: 15px;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  .container .col-4.left-section p {
    font-size: 16px;
    padding: 20px;
  }
}

.container .col-4.left-section p span {
  background-color: transparent;
  color: #ff0093;
  padding: 0;
  margin: 0;
  font-size: 15px;
  display: inline;
}

@media screen and (max-width: 767px) {
  .container .col-4.left-section p span {
    font-size: 16px;
  }
}

.container .col-4.center-section {
  padding: 20px 10px;
}

.container .col-4.center-section .level {
  font-size: 0;
}

.container .col-4.center-section .level .icon-column {
  width: 30%;
  display: inline-block;
  position: relative;
}

.container .col-4.center-section .level .icon-column:after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: rgba(128, 0, 255, 0.4);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(100% - 50%);
  -webkit-clip-path: polygon(20% 70%, 20% 40%, 80% 40%, 80% 70%, 100% 70%, 50% 100%, 0 70%);
          clip-path: polygon(20% 70%, 20% 40%, 80% 40%, 80% 70%, 100% 70%, 50% 100%, 0 70%);
}

.container .col-4.center-section .level .icon-column img {
  width: 100%;
}

.container .col-4.center-section .level .skill-column {
  width: 70%;
  display: inline-block;
  padding-left: 30px;
}

.container .col-4.center-section .level .skill-column .skill {
  display: inline-block;
  padding-right: 15px;
  text-align: center;
}

.container .col-4.center-section .level .skill-column i {
  color: #fff;
}

.container .col-4.center-section .level .skill-column i.icon-big {
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
}

.container .col-4.center-section .level .skill-column .detail {
  color: #fff;
  font-size: 14px;
  padding: 10px 0;
  line-height: 1.5;
}

.container .col-4.center-section .level .skill-column .detail .icon-small {
  font-size: 14px;
  padding-top: 6px;
}

.container .col-4.center-section .level .skill-column .detail span {
  display: inline-block;
  font-size: 14px;
}

.container .col-4.center-section .level .level2 {
  margin-top: 50px;
}

.container .col-4.center-section .level .level2.icon-column:after {
  width: 100px;
  height: 220px;
  top: calc(100% - 37%);
  -webkit-clip-path: polygon(20% 85%, 20% 12%, 80% 12%, 80% 85%, 100% 85%, 50% 100%, 0 85%);
          clip-path: polygon(20% 85%, 20% 12%, 80% 12%, 80% 85%, 100% 85%, 50% 100%, 0 85%);
}

.container .col-4.center-section .level .level4 {
  margin-top: 50px;
}

.container .col-4.center-section .level .level4.icon-column:after {
  display: none;
}

.container .col-4.right-section {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  border: 5px solid #ff0093;
  text-align: center;
  color: #fff;
}

.container .col-4.right-section .up {
  background-color: #8000ff;
  padding: 20px 0;
}

.container .col-4.right-section .up i {
  font-size: 100px;
  padding-top: 50px;
}

.container .col-4.right-section .up h4 {
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.2;
}

.container .col-4.right-section .down {
  background-color: #6600cc;
  padding: 80px 0;
}

.container .col-4.right-section .down i {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .container .col-4.right-section .down i {
    font-size: 30px;
  }
}

.container .col-4.right-section .down h5 {
  font-size: 1.8em;
  margin-top: 15px;
  margin-bottom: 20px;
}

.container .col-4.right-section .down a {
  display: block;
  color: #fff;
  text-decoration: none;
  width: 50%;
  margin: 15px auto;
  border: 2px solid #fff;
  padding: 10px 0;
  font-size: 1em;
}

@media screen and (max-width: 767px) {
  .container .col-4.right-section .down a {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */